@import url('https://fonts.googleapis.com/css?family=Montserrat');


.PlayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111111;
  box-shadow: 0px 0px 10px black;
  height: 80px;
}

.start__button {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border:0;
    background: #111111;
    box-shadow: 0px 0px 10px black;
    color: #CD3B00;
    font-family: 'Creepster', cursive;
    font-size: 40px;
    cursor: pointer;
}

.start__button::before {
  content:"";
  position: absolute;
  background: transparent;
  border:10px solid black;
  z-index: -1;
  width: 160px;
  height: 160px;
  margin-left: -47px;
  margin-top: -66px;
  border-radius: 100%;
}
  
.start__button:hover {
  background-image: url('./images/gouttes.png');
  background-size: cover;
}
  
.start__button:active {
    background-image: url('./images/splatter1.png');
    background-size: cover;
    transform: translateY(4px);
}

.PlayButton--active {display: none;}