.DisplayCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width:80%;
    margin:30px auto;
    padding: 30px;
    box-sizing: border-box;
    background: black;
}
